header, main, footer {
    padding-left: 240px;
}

main {
    margin-top: 2%;
}

body {
    background-color: #efeeed !important;
}

nav {
    background-color: #355c7d !important;
}

#vinyl-breadcrumb {
    margin: 2.1rem 0 1.68rem 0
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}