{% extends 'base.html' %}

{% block index %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card-panel white">
                <div class="row">
                    <h1>Media Management System</h1>
                    <p>Welcome to the Media Management System. Our goal is to provide you a central system to store all your favorite media collectables. Whether
                    it's vinyls, movies, video games, or books, we will keep track of your collection!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
