{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card-panel white">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <h2 class="center-align">User Dashboard<hr></h2>
                </div>

                <div class="row">
                    <div class="col s6">
                        <h5>Libraries</h5>

                        <ul>
                            <li><a href="{% url 'vinyls' %}"><i class="material-icons circle">library_music</i>Vinyls</a></li>
                            <li><i class="material-icons circle">movie</i>Movies</li>
                            <li><i class="material-icons circle">videogame_asset</i>Video Games</li>
                            <li><i class="material-icons circle">library_books</i>Books</li>
                        </ul>

                        <!-- Will eventually remove this from site -->
                        <br><br>
                        <p>Features</p>
                        <ul>
                            <li>Search functionality through media</li>
                            <li>Top favorites of each</li>
                            <li>Statistics (total amount of each media owned, etc)</li>
                        </ul>
                    </div>
                    <div class="col s6">
                        <p>chart goes here<br>maybe a bar graph or doughnut graph that display how many entries are in each library.</p>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="card-panel white">
        <div class="row">
            <div class="col s12">
                <h4>Statistics</h4>
                <p>Come up with overall stats (look into bar graph api)</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
