{% extends 'base.html' %}

{% block user_dashboard %}

<div class="container">
    <div class="card-panel white">
        <div class="row">
            <div class="col s12">
                <h2 class="center-align">User Dashboard</h2>
                <p>Features</p>
                <ul>
                    <li>Search functionality through media</li>
                    <li>Top favorites of each</li>
                    <li>Statistics (total amount of each media owned, etc)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-panel white">
        <div class="row">
            <div class="col s12">
                <h4>Statistics</h4>
                <p>Come up with overall stats (look into bar graph api)</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
